<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snail.track">

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".samples.large_figure_loader.LoadLargeFigureActivity" />
        <activity android:name=".samples.pie_chart.PieChartActivity" />
        <activity android:name=".samples.canvas_operations.CanvasOperationActivity" />
        <activity android:name=".samples.draw_bitmap_text.DrawBitmapTextActivity" />
        <activity android:name=".samples.path.PathTestActivity" />
        <activity android:name=".samples.path.bezier.quad.QuadBezierActivity" />
        <activity android:name=".samples.path.bezier.cubic.CubicBezierActivity" />
        <activity android:name=".samples.path.bezier.BezierActivity" />
        <activity android:name=".samples.path.bezier.heart.HeartBezierActivity" />
        <activity android:name=".samples.path.bezier.jelly.JellyBezierActivity" />
        <activity android:name=".samples.path.bool.PathBoolActivity" />
        <activity android:name=".samples.path.bool.universe.UniverseActivity" />
        <activity android:name=".samples.path.basic.BasicPathActivity" />
        <activity android:name=".samples.path.fill.FillPathActivity"></activity>
    </application>

</manifest>